/* //Using root makes the variables accessible to all the child elements in the document. :root is a pseudo element  */
:root {
  --color-primary: blue;
  --color-primary-light:rgba(66, 66, 252, 0.74);
  --color-primary-dark:rgb(5, 5, 163);
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:  rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*  10 rem = 62.5% */ }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: var(--color-grey-light-3);
  min-height: 100vh;
  line-height: 1.6; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Raleway', sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Raleway', sans-serif; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Raleway', sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Raleway', sans-serif; }

.Login {
  background: #fff;
  max-width: 40rem;
  min-width: 20rem;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey-dark-1);
  border-radius: 1rem; }
  .Login__header {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem; }
  .Login__OtherDomain {
    width: 90%;
    background: var(--color-grey-light-2);
    margin: 1rem;
    height: 4rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .Login__OtherDomain__Logo {
      height: 2rem;
      width: 2rem;
      position: absolute;
      left: 1rem; }
    .Login__OtherDomain:hover {
      cursor: pointer; }
  .Login__text {
    width: 90%;
    height: 4rem;
    margin: .5rem;
    padding: 0 .5rem;
    border-radius: 4px;
    border: none;
    background: var(--color-grey-light-3); }
  .Login__password {
    width: 100%;
    height: 4rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Login__password__text {
      width: 90%;
      height: 4rem;
      margin-right: -2rem;
      padding: 0 .5rem;
      border-radius: 4px;
      border: none;
      background: var(--color-grey-light-3); }
    .Login__password__Icon {
      height: 2rem;
      width: 2rem; }
  .Login__forget {
    color: var(--color-primary-light);
    font-size: 1.3rem;
    margin: .5rem; }
    .Login__forget:hover {
      text-decoration: underline;
      cursor: pointer; }
  .Login__Signin {
    width: 90%;
    background: var(--color-primary);
    border: none;
    height: 3rem;
    color: #fff;
    border-radius: 4px; }
    .Login__Signin:hover {
      cursor: pointer; }
  .Login__Signup {
    width: 20rem;
    margin: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-grey-dark-2); }
    .Login__Signup__Redirect {
      color: var(--color-primary-light); }
      .Login__Signup__Redirect:hover {
        text-decoration: underline;
        cursor: pointer; }

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6rem;
  background: #fff;
  border-bottom: 1px solid var(--color-grey-light-3); }
  .Navbar__Icons {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin: 1rem; }
    .Navbar__Icons__Logo {
      margin-right: 4rem;
      font-size: 2.2rem;
      font-weight: 600; }
      .Navbar__Icons__Logo:hover {
        cursor: pointer; }
    .Navbar__Icons__Home {
      color: var(--color-primary);
      margin-right: 4rem; }
      .Navbar__Icons__Home:hover {
        cursor: pointer; }
    .Navbar__Icons__SearchBar {
      height: 4rem;
      display: flex;
      align-items: center; }
      .Navbar__Icons__SearchBar__IconHandler {
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -4rem;
        z-index: 10; }
      .Navbar__Icons__SearchBar__Text {
        height: 4rem;
        width: 30rem;
        padding: 1rem;
        padding-left: 4rem;
        border: none;
        outline: none;
        background: var(--color-grey-light-4);
        border-radius: 4px; }
    .Navbar__Icons__Notification {
      height: 4rem;
      width: 4rem;
      margin-right: 3rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .Navbar__Icons__Notification:hover {
        cursor: pointer; }
      .Navbar__Icons__Notification__Logo {
        height: 2.5rem;
        width: 2.5rem; }
    .Navbar__Icons__Profile {
      display: flex;
      align-items: center; }
      .Navbar__Icons__Profile__Name:hover {
        cursor: pointer; }
      .Navbar__Icons__Profile__Picture {
        height: 4rem;
        width: 4rem;
        margin-left: 2rem;
        background: var(--color-grey-light-3);
        border-radius: 50%; }
        .Navbar__Icons__Profile__Picture:hover {
          cursor: pointer; }

.Sidebar {
  height: calc(100vh - 8vh);
  background: white;
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem; }
  .Sidebar__Routes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    width: 17rem;
    margin: .2rem 0;
    border-radius: 4px;
    padding: .4rem; }
    .Sidebar__Routes:hover {
      cursor: pointer;
      background: var(--color-grey-light-3); }
    .Sidebar__Routes__Logo {
      margin-right: 1rem; }
  .Sidebar__Cloud {
    margin-left: -10rem;
    color: var(--color-grey-light-4);
    padding: 1rem;
    height: 4rem; }

.DashBoard {
  display: flex; }

.Display {
  height: calc(100vh - 7vh);
  flex: 1;
  background: #fff; }
